<h2>Gestion de Experiencias</h2>
<!-- Modal Agregar experiencia -->
<!-- Large modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg"><mdb-icon class="mr-1" fas icon="plus"></mdb-icon> Agregar Experiencia</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Experiencia</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-row">
                        <div class="col-md-3 mb-3">
                            <label for="validationDefault01">Puesto de Trabajo</label>
                            <select class="custom-select" id="validationDefault04" required>
                                <option selected disabled value="">Elegir...</option>
                                <option>Frontend Developer</option>
                                <option>Backend Developer</option>
                                <option>Fullstack Developer</option>
                                <option>Freelance Developer</option>
                            </select>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="siteJob">Lugar</label>
                            <input type="text" class="form-control" id="siteJob" required>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="dateSince">Desde</label>
                            <input type="date" id="dateSince" class="form-control" required>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="dateUntil">Hasta</label>
                            <input type="date" id="dateUntil" class="form-control" required>
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Descripcion</span>
                                </div>
                                <textarea class="form-control" aria-label="With textarea"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Tecnologias</span>
                                </div>
                                <textarea class="form-control" aria-label="With textarea"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Agregar experiencia -->

<!-- Tabla de Experiencias -->
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Puesto</th>
            <th scope="col">Lugar</th>
            <th scope="col">Desde</th>
            <th scope="col">Hasta</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Tecnologias</th>
            <th scope="col">Accion</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
        </tr>
    </tbody>
</table>
<!-- Tabla de Experiencias -->