<h2>Gestion de Experiencias</h2>

<!-- Boton Agregar Experiencia -->
<button type="button" class="btn btn-primary p-2" data-toggle="modal" data-target=".bd-example-modal-lg">
    <mdb-icon class="mr-1" fas icon="plus"></mdb-icon> Agregar Experiencia
</button>

<!-- Modal Agregar experiencia -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Experiencia</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()"
                    #btnCloseAdd>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <flash-messages></flash-messages>
            <form #experienceForm="ngForm" (ngSubmit)="addExperience(experienceForm)">
                <div class="modal-body">
                    <div class="form-row">
                        <div class="col-md-3 mb-3">
                            <div class="form-group">
                                <label for="jobAdd">Puesto</label>
                                <input type="text" class="form-control" id="jobAdd" name="job" #job="ngModel"
                                    [(ngModel)]="experience.job" required minlength="2">

                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <div class="form-group">
                                <label for="siteAdd">Lugar</label>
                                <input type="text" class="form-control" id="siteAdd" name="site" #site="ngModel"
                                    [(ngModel)]="experience.site" required minlength="2">

                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <div class="form-group">
                                <label for="sinceAdd">Desde</label>
                                <input type="date" class="form-control" id="sinceAdd" name="since" #since="ngModel"
                                    [(ngModel)]="experience.since" required>
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <div class="form-group">
                                <label for="untilAdd">Hasta</label>
                                <input type="date" class="form-control" id="untilAdd" name="until" #until="ngModel"
                                    [(ngModel)]="experience.until" required>
                            </div>
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Descripcion</span>
                                    </div>
                                    <textarea class="form-control" aria-label="With textarea" name="description"
                                        #description="ngModel" [(ngModel)]="experience.description" required
                                        minlength="2"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Tecnologias</span>
                                    </div>
                                    <textarea class="form-control" aria-label="With textarea" name="technologies"
                                        #technologies="ngModel" [(ngModel)]="experience.technologies" required
                                        minlength="2">
                                    </textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"
                        >Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal Agregar experiencia -->

<!-- Tabla de Experiencias -->
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Puesto</th>
            <th scope="col">Lugar</th>
            <th scope="col">Desde</th>
            <th scope="col">Hasta</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Tecnologias</th>
            <th scope="col">Accion</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let experience of experiences; let e = index">
            <td>{{experience.job}}</td>
            <td>{{experience.site}}</td>
            <td>{{experience.since |date:"dd-MM-yyyy"}}</td> <!-- .toDate() | date:"shortDate" -->
            <td>{{experience.until |date:"dd-MM-yyyy"}}</td>
            <td>{{experience.description}}</td>
            <td>{{experience.technologies}}</td>
            <td>
                <a routerLink="/experience/edit/{{experience.id}}" class="btn btn-primary m-0 px-2 py-0">
                    <i class="fas fa-angle-double-right"></i> Editar
                </a>
            </td>
        </tr>
    </tbody>
</table>
<!-- Tabla de Experiencias -->




