<!-- #Navbar -->
<nav id="navbarPortfolio" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Cristian</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="about">Acerca de mi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="skills">Skills</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="projects">Mis Proyectos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="contact">Contact</a>
            </li>
            <!-- # Funcionalidad Cambiar idioma
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              idioma
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <button type="button" class="btn btn-link">Link</button>
              <button type="button" class="btn btn-link">Link</button>
              <a class="dropdown-item" href="#" (click)="changeEs()">Español</a>
              <a class="dropdown-item" href="#" (click)="changeEn()">Ingles</a>
            </div>
          </li>-->
        </ul>
    </div>
</nav>