<form #skillForm="ngForm" (ngSubmit)="addSkill(skillForm.value)">
    <div class="modal-body mt-3">
        <div class="form-row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="categoryAdd">Categoria</label>
                    <select class="form-control" id="categoryAdd" name="category" required>
                        <option>HTML</option>
                        <option>CSS</option>
                        <option>JAVASCRIPT</option>
                        <option>JAVA</option>
                        <option>BACKEND</option>
                        <option>OTRO</option>
                    </select>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="nameAdd">Nombre</label>
                    <input type="text" class="form-control" id="nameAdd" name="name" required minlength="2">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <div class="input-group">
                        <label for="imageAdd">Imagen</label>
                        <input type="file" class="form-control-file" id="imageAdd"  (change)="handleImage($event)">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
</form>