<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h4>Menu</h4>
                <ul class="list-unstyled quick-links">
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Acerca de</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Skills</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>My Projects</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Contacto</a></li>
                </ul>
                <h4>Mis Redes Sociales</h4>
                <ul class="list-unstyled list-inline social my-3">
                    <li class="list-inline-item"><a href="https://www.facebook.com/nico.almiron.37266"><i class="fab fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com/cristian88gx/?hl=es-la"><i class="fab fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="https://api.whatsapp.com/send?phone=+54 388 582 4851"><i class="fab fa-whatsapp"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/cristian-almiron-57a18a17a/"><i class="fab fa-linkedin"></i></a></li>
                    <li class="list-inline-item"><a href="https://github.com/raptor19"><i class="fab fa-github"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void();"><i class="fab fa-google-plus"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i
                                class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8">
                <h4>Mi Ubicacion</h4>
                <div class="my-3">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d116449.47328864783!2d-65.3755961806104!3d-24.205167064314026!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x941b0f4e8bd7a62f%3A0x315150e057f6e499!2sSan%20Salvador%20de%20Jujuy%2C%20Jujuy!5e0!3m2!1ses-419!2sar!4v1580068816954!5m2!1ses-419!2sar"
                        width="800" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p> <i class="fab fa-angular fa-2x text-white"></i></p>
                <p class="h6">Sitio Web desarrollado con Angular 8 </p>
            </div>

        </div>
    </div>
</section>
<!-- ./Footer -->