<!-- #aboutMe -->
<div class="jumbotron">
  <div class="row">
    <div class="col">
      <div class="row">
        <div>
          <div class="row my-5 mx-4">
            <div class="col-sm-8">
              <div class="my-2 mx-1 p-3">
                <h3>Hola! Bienvenido a mi sitio web!</h3>
                <p>
                  Me llamo Cristian tengo 28 años. Soy Analista Programador
                  estudie en la Universidad Nacional de Jujuy,me especializo en el Desarrollo Web,mi perfil es
                  FullStack Dev.
                  Me llamo Cristian tengo 28 años. Soy Analista Programador
                  estudie en la Universidad Nacional de Jujuy,me especializo en el Desarrollo Web,mi perfil es
                  FullStack Dev.
                </p>
              </div>
            </div>
            <div class="col-sm-4">
              <img class="img-fluid m-0" src="/assets/cristian.jpg" alt="cristian" width="300" height="250">
            </div>
          </div>
          <hr>
          <div class="row my-5 mx-4">
            <div class="text-right my-2">
              <div>
                <div class="row">
                  <div class="col-sm-4">
                    <img class="img-fluid m-0" src="/assets/cristian.jpg" alt="cristian" width="300" height="250">
                  </div>
                  <div class="col-sm-8">
                    <div class="my-2 mx-1 p-3">
                      <h2>Hola! Bienvenido a mi sitio web!</h2>
                      <p>  
                        Me llamo Cristian tengo 28 años. Soy Analista Programador
                        estudie en la Universidad Nacional de Jujuy,me especializo en el Desarrollo Web,mi perfil es
                        FullStack Dev.
                        Me llamo Cristian tengo 28 años. Soy Analista Programador
                        estudie en la Universidad Nacional de Jujuy,me especializo en el Desarrollo Web,mi perfil es
                        FullStack Dev.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>