<!-- Acerca de mi -->
<div id="about" class="about">
  <!-- Mask & flexbox options-->
  <div class="mask d-flex justify-content-center align-items-center">
    <!-- Content -->
    <div class="container">
      <!--Grid row-->
      <div class="row wow fadeIn">
        <!--Grid column-->
        <div class="col-md-12">
          <div class="row container ">
            <div class="col-md-7 my-4 d-flex align-items-center">
              <div>
                <h4 class="text-uppercase ml-3 mb-2 pb-2 mt-2 wow fadeIn">
                  <strong>sobre mi</strong>
                </h4>
                <p class="mx-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, eligendi cumque?
                  Veniam
                  velit eos provident ut ad ex esse laboriosam doloremque! Deserunt excepturi esse tempore, ipsam quam
                  culpa
                  consectetur! Accusantium.</p>
              </div>
            </div>
            <div class="col-md-4 ml-2 my-5">
              <img src="assets/cristian.jpg" class="img-fluid rounded-circle" alt="Responsive image" width="400" height="400">
            </div>
          </div>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Content -->
  </div>
  <!-- Mask & flexbox options-->
</div>
<!-- Acerca de mi -->