<!--Editar Proyecto-->
<div class="edit-proyect">
    <form #proyectEditForm="ngForm" (ngSubmit)="save(proyectEditForm.value)">
        <flash-messages></flash-messages>
        <div class="form-row">
            <!--Titulo-->
            <div class="col-md-4">
                <div class="form-group">
                    <label for="titleMod">Titulo</label>
                    <input type="text" class="form-control" id="titleMod" name="title" #title="ngModel"
                        [(ngModel)]="proyect.title" required minlength="2">
                </div>
            </div>
            <!--UrlWeb-->
            <div class="col-md-4">
                <div class="form-group">
                    <label for="urlwebMod">Url-Web</label>
                    <input type="text" class="form-control" id="urlwebMod" name="urlweb" #urlweb="ngModel"
                        [(ngModel)]="proyect.urlWeb" required minlength="2">
                </div>
            </div>
            <!--UrlGit-->
            <div class="col-md-4">
                <div class="form-group">
                    <label for="urlgitMod">Url-Git</label>
                    <input type="text" class="form-control" id="urlgitMod" name="urlgit" #urlgit="ngModel"
                        [(ngModel)]="proyect.urlGit" required minlength="2">
                </div>
            </div>

        </div>

        <div class="form-row">
            <!--Descripcion-->
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Descripcion</span>
                        </div>
                        <textarea class="form-control" aria-label="With textarea" name="description"
                            #description="ngModel" [(ngModel)]="proyect.description" required minlength="2">
                        </textarea>
                    </div>
                </div>
            </div>
            <!--Tecnologias-->
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Tecnologias</span>
                        </div>
                        <textarea class="form-control" aria-label="With textarea" name="technologies"
                            #technologies="ngModel" [(ngModel)]="proyect.technologies" required minlength="2">
                        </textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <!--Imagen actual-->
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <div class="input-group">
                        <label for="imageMod">Imagen Actual</label>
                        <img class="img-fluid pl-3" src={{proyect.image}} alt="" height="100" width="100">
                    </div>
                </div>
            </div>
            <!--Nueva imagen-->
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <div class="input-group">
                        <label for="imageMod">Nueva Imagen</label>
                        <input type="file" class="form-control-file" id="imageMod">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!--Botones-->
            <div class="col-md-3">
                <a routerLink="/proyects" class="btn btn-info btn-block">
                    <i class="fas fa-arrow-left"></i> Volver
                </a>
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-success btn-block">
                    <i class="fas fa-check"></i> Guardar
                </button>
            </div>
            <div class="col-md-3">
                <a (click)="delete()" class="btn btn-danger btn-block">
                    <i class="fas fa-trash"></i> Eliminar
                </a>
            </div>
        </div>
    </form>
</div>
