<!-- Acerca de mi -->
<div id="about" class="about animated">
  <div class="container my-5 py-5 z-depth-1" style="box-shadow: none !important">
    <!-- Mask & flexbox options-->
    <div class="mask d-flex justify-content-center align-items-center">
      <!-- Content -->
      <div class="container my-5">
        <!--Grid row-->
        <div class="row wow fadeIn">
          <!--Grid column-->
          <div class="col-lg-12 col-md-12">
            <div class="row">
              <div class="col-lg-8 col-md-7 col-12 my-s d-flex align-items-center wow fadeOut" 
                    data-wow-delay="0.8s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.8s;">
                <div>
                  <h4 class="text-uppercase ml-3 mb-2 pb-2 mt-2 wow fadeIn">
                    <strong>sobre mi</strong>
                  </h4>
                  <p class="mx-3">Basicamente me dedico a desarrollar aplicaciones web del tipo SPA, me desenvuelvo bien en las diferentes capas de desarrollo (Front/Back).<br/>Soy autodidacta la mayoria de mis habilidades las aprendo por mi cuenta en la web y practicando.Me gusta la Arquitectura de software es la rama de la informatica en la que quiero especializarme.</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-12 col-12 mx-2 py-5 wow fadeOut align-items-center" data-wow-delay="0.8s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.8s;">
                <img src="assets/cristian.jpg" class="circle-rounded" alt="Responsive image" height="250" width="250">
              </div>
              
            </div>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->

  </div>
</div>
<!-- Acerca de mi -->