<!-- #Home -->
<div class="jumbotron m-0">
  <!-- #Presentacion -->
  <div class="row">
    <div class="col-sm-12">
      <!--#body-->
      <div class="row mainContent my-5 mx-5">
        <div class="col-sm-4 mt-5">
          <img class="img-fluid" src="/assets/cristian.jpg" alt="cristian" width="300" height="300">
        </div>
        <div class="col-sm-8 mt-5">
          <h1>Almiron Cristian</h1>
          <p>
            #Jujeño🌵🌄<br />
            #FullStack Developer💪👔💻<br />
            #Javascript & Java😍👍<br />
            #MusicoFrustrado🎻🎸🎶<br />
            #FutbolistaAmateur👕👟<br />
            #Treeking🏃🌄<br />
            <strong>
              "Dios te doy gracias por lo que tengo,pero te aviso que voy por mas!"
            </strong>
          </p>
          <button type="button" class="btn btn-secondary btn-lg">Acerca de mi</button>
        </div>
      </div>
    </div>
  </div>
</div>