<!-- #projects -->
<div id="projects">
  
  <div class="container">
    <h1 class="m-5 text-center">Mis Proyectos</h1>
    <div class="row">
      <div class="col-md-4">
        <!--Card-->
        <mdb-card cascade="true" narrower="true">

          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--/Card image-->

          <mdb-card-body cascade="true" class="text-center pb-0 px-0">
            <!--Card content-->
            <h5 class="pink-text">
              <mdb-icon fas icon="utensils"></mdb-icon> Culinary
            </h5>
            <!--Title-->
            <h4 class="card-title">Cheat day inspirations</h4>
            <!--Text-->

            <mdb-card-text>
              Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
              aperiam.
            </mdb-card-text>

            <a mdbBtn color="unique" class="waves-light" mdbWavesEffect>Button</a>

            <!-- Card footer -->
            <div class="card-footer text-muted text-center mt-4">
              2 days ago
            </div>

          </mdb-card-body>
          <!--/.Card content-->

        </mdb-card>
        <!--/.Card-->
      </div>

      <div class="col-md-4">
        <!--Card-->
        <mdb-card cascade="true" narrower="true">

          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--/Card image-->

          <mdb-card-body cascade="true" class="text-center pb-0 px-0">
            <!--Card content-->
            <h5 class="pink-text">
              <mdb-icon fas icon="utensils"></mdb-icon> Culinary
            </h5>
            <!--Title-->
            <h4 class="card-title">Cheat day inspirations</h4>
            <!--Text-->

            <mdb-card-text>
              Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
              aperiam.
            </mdb-card-text>

            <a mdbBtn color="unique" class="waves-light" mdbWavesEffect>Button</a>

            <!-- Card footer -->
            <div class="card-footer text-muted text-center mt-4">
              2 days ago
            </div>

          </mdb-card-body>
          <!--/.Card content-->

        </mdb-card>
        <!--/.Card-->
      </div>

      <div class="col-md-4">
        <!--Card-->
        <mdb-card cascade="true" narrower="true">

          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--/Card image-->

          <mdb-card-body cascade="true" class="text-center pb-0 px-0">
            <!--Card content-->
            <h5 class="pink-text">
              <mdb-icon fas icon="utensils"></mdb-icon> Culinary
            </h5>
            <!--Title-->
            <h4 class="card-title">Cheat day inspirations</h4>
            <!--Text-->

            <mdb-card-text>
              Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
              aperiam.
            </mdb-card-text>

            <a mdbBtn color="unique" class="waves-light" mdbWavesEffect>Button</a>

            <!-- Card footer -->
            <div class="card-footer text-muted text-center mt-4">
              2 days ago
            </div>

          </mdb-card-body>
          <!--/.Card content-->

        </mdb-card>
        <!--/.Card-->
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 my-5">
        <!--Card-->
        <mdb-card cascade="true" narrower="true">

          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--/Card image-->

          <mdb-card-body cascade="true" class="text-center pb-0 px-0">
            <!--Card content-->
            <h5 class="pink-text">
              <mdb-icon fas icon="utensils"></mdb-icon> Culinary
            </h5>
            <!--Title-->
            <h4 class="card-title">Cheat day inspirations</h4>
            <!--Text-->

            <mdb-card-text>
              Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
              aperiam.
            </mdb-card-text>

            <a mdbBtn color="unique" class="waves-light" mdbWavesEffect>Button</a>

            <!-- Card footer -->
            <div class="card-footer text-muted text-center mt-4">
              2 days ago
            </div>

          </mdb-card-body>
          <!--/.Card content-->

        </mdb-card>
        <!--/.Card-->
      </div>

      <div class="col-md-4 my-5">
        <!--Card-->
        <mdb-card cascade="true" narrower="true">

          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--/Card image-->

          <mdb-card-body cascade="true" class="text-center pb-0 px-0">
            <!--Card content-->
            <h5 class="pink-text">
              <mdb-icon fas icon="utensils"></mdb-icon> Culinary
            </h5>
            <!--Title-->
            <h4 class="card-title">Cheat day inspirations</h4>
            <!--Text-->

            <mdb-card-text>
              Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
              aperiam.
            </mdb-card-text>

            <a mdbBtn color="unique" class="waves-light" mdbWavesEffect>Button</a>

            <!-- Card footer -->
            <div class="card-footer text-muted text-center mt-4">
              2 days ago
            </div>

          </mdb-card-body>
          <!--/.Card content-->

        </mdb-card>
        <!--/.Card-->
      </div>

      <div class="col-md-4 my-5">
        <!--Card-->
        <mdb-card cascade="true" narrower="true">

          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--/Card image-->

          <mdb-card-body cascade="true" class="text-center pb-0 px-0">
            <!--Card content-->
            <h5 class="pink-text">
              <mdb-icon fas icon="utensils"></mdb-icon> Culinary
            </h5>
            <!--Title-->
            <h4 class="card-title">Cheat day inspirations</h4>
            <!--Text-->

            <mdb-card-text>
              Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
              aperiam.
            </mdb-card-text>

            <a mdbBtn color="unique" class="waves-light" mdbWavesEffect>Button</a>

            <!-- Card footer -->
            <div class="card-footer text-muted text-center mt-4">
              2 days ago
            </div>

          </mdb-card-body>
          <!--/.Card content-->

        </mdb-card>
        <!--/.Card-->
      </div>
    </div>
  </div>
</div>