<!-- #projects -->
<div id="projects">
  <div class="container my-5">
    <div class="row">
      <div class="col">
        <section class="my-5">
          <h1 class="h1-responsive font-weight-bold text-center my-5">Mis Proyectos</h1>
          <div class="row">
            <div class="col-md-4">
              <!--Card-->
              <mdb-card cascade="true" narrower="true">

                <!--Card image-->
                <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                  <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg">
                  </mdb-card-img>
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
                <!--/Card image-->

                <mdb-card-body cascade="true" class="text-center pb-0 px-0 mb-5">
                  <!--Card content-->
                  <h5 class="pink-text">
                    <mdb-icon fas icon="code"></mdb-icon> Angular
                  </h5>
                  <!--Title-->
                  <h4 class="card-title">Nombre del Proyecto</h4>
                  <!--Text-->

                  <mdb-card-text>
                    Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam
                    rem
                    aperiam.
                  </mdb-card-text>

                  <a mdbBtn color="unique" class="waves-light" mdbWavesEffect>
                    <mdb-icon fas icon="play"></mdb-icon> Ver
                  </a>
                  <a mdbBtn color="unique" class="waves-light" mdbWavesEffect>
                    <mdb-icon fas icon="code"></mdb-icon> Codigo
                  </a>

                </mdb-card-body>
                <!--/.Card content-->

              </mdb-card>
              <!--/.Card-->
            </div>

            <div class="col-md-4">
              <!--Card-->
              <mdb-card cascade="true" narrower="true">

                <!--Card image-->
                <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                  <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg">
                  </mdb-card-img>
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
                <!--/Card image-->

                <mdb-card-body cascade="true" class="text-center pb-0 px-0 mb-5">
                  <!--Card content-->
                  <h5 class="pink-text">
                    <mdb-icon fas icon="code"></mdb-icon> Angular
                  </h5>
                  <!--Title-->
                  <h4 class="card-title">Nombre del Proyecto</h4>
                  <!--Text-->

                  <mdb-card-text>
                    Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam
                    rem
                    aperiam.
                  </mdb-card-text>

                  <a mdbBtn color="unique" class="waves-light" mdbWavesEffect>
                    <mdb-icon fas icon="play"></mdb-icon> Ver
                  </a>
                  <a mdbBtn color="unique" class="waves-light" mdbWavesEffect>
                    <mdb-icon fas icon="code"></mdb-icon> Codigo
                  </a>

                </mdb-card-body>
                <!--/.Card content-->

              </mdb-card>
              <!--/.Card-->
            </div>

            <div class="col-md-4">
              <!--Card-->
              <mdb-card cascade="true" narrower="true">

                <!--Card image-->
                <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                  <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg">
                  </mdb-card-img>
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
                <!--/Card image-->

                <mdb-card-body cascade="true" class="text-center pb-0 px-0 mb-5">
                  <!--Card content-->
                  <h5 class="pink-text">
                    <mdb-icon fas icon="code"></mdb-icon> Angular
                  </h5>
                  <!--Title-->
                  <h4 class="card-title">Nombre del Proyecto</h4>
                  <!--Text-->

                  <mdb-card-text>
                    Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam
                    rem
                    aperiam.
                  </mdb-card-text>

                  <a mdbBtn color="unique" class="waves-light" mdbWavesEffect>
                    <mdb-icon fas icon="play"></mdb-icon> Ver
                  </a>
                  <a mdbBtn color="unique" class="waves-light" mdbWavesEffect>
                    <mdb-icon fas icon="code"></mdb-icon> Codigo
                  </a>

                </mdb-card-body>
                <!--/.Card content-->

              </mdb-card>
              <!--/.Card-->
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>