<div data-spy="scroll" data-target=".navbar">
  <!--Navbar-->
  <div class="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Cristian</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#about">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#projects">My Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <!--showcase-->
  <div id="bg-img">

  </div>

  <!-- #aboutMe -->
  <div id="about">
    <div class="container">
      <div class="row">
        <div class="col">
          <div id="aboutData">
            <div class="card bg-white">
              <div class="card-title my-5">
                <div class="media">
                  <img class="imgProfile img-fluid" src="/assets/cristian.jpg" alt="cristian" width="250" height="250"
                    rounded-top d-none d-lg-block>
                  <div class="media-body">
                    <h3 class="display-4 ml-5">Cristian Almiron</h3>
                    <p class="text-muted ml-5">FullStack Developer</p>
                    <div class="container">
                      <table class="table table-responsive ml-4">
                        <tr>
                          <td>Age</td>
                          <td>:</td>
                          <td>28 years old</td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>Age</td>
                          <td>:</td>
                          <td>28 years old</td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>Age</td>
                          <td>:</td>
                          <td>28 years old</td>
                          <td></td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-footer bg-danger">
                <a href="https://www.facebook.com/nico.almiron.37266" alt="facebook"><i class="fab fa-facebook fa-2x mx-5"></i></a>
                <a href="https://www.instagram.com/?hl=es-la" alt="instagram"><i class="fab fa-instagram fa-2x mx-5" ></i></a>
                <a href="#"><i class="fab fa-github fa-2x mx-5" alt="github"></i></a>
                <a href="#"><i class="fas fa-envelope-open-text fa-2x mx-5" alt="mail"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <div class="row">
        <div class="col">
          <span class="bg-danger text-white">About Me</span>
          <hr class="bg-danger">
          <p class="text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi ipsa, repellat maxime
            pariatur exercitationem ratione voluptatum ut vero molestias vitae dolorum obcaecati doloribus at quod
            laborum rem impedit optio nihil!</p>
        </div>
      </div>
    </div>
  </div>
  <!-- #skills -->
  <div id="skills" class="mt-5">
    <div class="container">
      <span class="bg-primary text-white">My Skills</span>
      <hr class="bg-primary">
      <div class="row">
        <div class="col">
          <div class="card mb-3">
            <img src="/assets/f2.png" class="card-img-top" alt="" width="150" height="250">
            <div class="card-body">
              <h6>Html5</h6>
              <div class="progress mx-3">
                <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0"
                  aria-valuemax="100">80%</div>
              </div>

              <h6>CSS3</h6>
              <div class="progress mx-3">
                <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0"
                  aria-valuemax="100">80%</div>
              </div>

              <h6>Javascript(ES6)</h6>
              <div class="progress mx-3">
                <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0"
                  aria-valuemax="100">70%</div>
              </div>

              <h6>Typescript</h6>
              <div class="progress mx-3">
                <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0"
                  aria-valuemax="100">60%</div>
              </div>
              <h3 class="text-center">Frameworks</h3>
              <h6>Angular 8</h6>
              <div class="progress mx-3">
                <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0"
                  aria-valuemax="100">95%</div>
              </div>
              <h3 class="text-center">Librerias</h3>
              <h6>React</h6>
              <div class="progress mx-3">
                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0"
                  aria-valuemax="100">50%</div>
              </div>
              <h6>Bootstrap</h6>
              <div class="progress mx-3">
                <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0"
                  aria-valuemax="100">80%</div>
              </div>
              <h6>Angular Material</h6>
              <div class="progress mx-3">
                <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0"
                  aria-valuemax="100">90%
                </div>
              </div>
              <h6>Flex-Layout</h6>
              <div class="progress mx-3">
                <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0"
                  aria-valuemax="100">70%
                </div>
              </div>
              <h6>Jquery</h6>
              <div class="progress mx-3">
                <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0"
                  aria-valuemax="100">30%
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- #backend -->
        <div class="col">
          <div class="card mb-3">
            <img src="/assets/b1.png" class="card-img-top" alt="" width="150" height="250">
            <div class="card-body">
              <h6>Java</h6>
              <div class="progress mx-3">
                <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0"
                  aria-valuemax="100">70%</div>
              </div>

              <h6>PHP</h6>
              <div class="progress mx-3">
                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
                  aria-valuemax="100">25%</div>
              </div>
              <h3 class="text-center">Frameworks</h3>
              <h6>Node Js</h6>
              <div class="progress mx-3">
                <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0"
                  aria-valuemax="100">70%</div>
              </div>

              <h6>Spring Boot</h6>
              <div class="progress mx-3">
                <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0"
                  aria-valuemax="100">80%</div>
              </div>

              <h6>Express Js</h6>
              <div class="progress mx-3">
                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0"
                  aria-valuemax="100">50%</div>
              </div>

              <h6>Hibernate</h6>
              <div class="progress mx-3">
                <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0"
                  aria-valuemax="100">80%</div>
              </div>
              <h3 class="text-center">Bases de Datos</h3>
              <h6>MySql</h6>
              <div class="progress mx-3">
                <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0"
                  aria-valuemax="100">85%</div>
              </div>

              <h6>PostgreSql</h6>
              <div class="progress mx-3">
                <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0"
                  aria-valuemax="100">60%</div>
              </div>

              <h6>Firebase</h6>
              <div class="progress mx-3">
                <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0"
                  aria-valuemax="100">80%</div>
              </div>

              <h6>Mongo DB</h6>
              <div class="progress mx-3">
                <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0"
                  aria-valuemax="100">70%</div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- #my projects -->
  <div id="projects" class="mb-20">
    <div class="container">
      <h2>My Projects</h2>
      <div class="row">
        <div class="accordion col-md-12" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-2">

                <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#collapseOne"
                  aria-expanded="false" aria-controls="collapseOne">
                  <img src="/assets/angu.png" width="30" height="30" class="d-inline-block align-top" alt="">
                  Angular
                </button>
              </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body row">
                <div class="card col-md-4" style="width: 18rem;padding: 0px;">
                  <img src="/assets/angular.png" class="card-img-top" alt="..." height="200px" width="200px">
                  <div class="card-body">
                    <h5 class="card-title">Chat App</h5>
                    <p class="card-text">Simple chat application example using Angular 4 and Socket.IO on the back-end.
                      We will use RxJS library to show how we can handle user messages.</p>
                    <a href="#" class="btn btn-primary">Ver</a>
                  </div>
                </div>
                <div class="card col-md-4" style="width: 18rem;padding: 0px;">
                  <img src="/assets/angular.png" class="card-img-top" alt="..." height="200px" width="200px">
                  <div class="card-body">
                    <h5 class="card-title">Control Clientes</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                    <a href="#" class="btn btn-primary">Ver</a>
                  </div>
                </div>
                <div class="card col-md-4" style="width: 18rem;padding: 0px;">
                  <img src="/assets/angular.png" class="card-img-top" alt="..." height="200px" width="200px">
                  <div class="card-body">
                    <h5 class="card-title">Maps Apps</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                    <a href="#" class="btn btn-primary">Ver</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button class="btn btn-light collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                  aria-expanded="false" aria-controls="collapseTwo">
                  <img src="/assets/react.png" width="30" height="30" class="d-inline-block align-top" alt="">
                  React
                </button>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body row">
                <div class="card col-md-4" style="width: 18rem;">
                  <img src="/assets/react.png" class="card-img-top" alt="..." height="200px" width="200px">
                  <div class="card-body">
                    <h5 class="card-title">Chat App</h5>
                    <p class="card-text">Simple chat application example using Angular 4 and Socket.IO on the back-end.
                      We will use RxJS library to show how we can handle user messages.</p>
                    <a href="#" class="btn btn-primary">Ver</a>
                  </div>
                </div>
                <div class="card col-md-4" style="width: 18rem;">
                  <img src="/assets/react.png" class="card-img-top" alt="..." height="200px" width="200px">
                  <div class="card-body">
                    <h5 class="card-title">Chat App</h5>
                    <p class="card-text">Simple chat application example using Angular 4 and Socket.IO on the back-end.
                      We will use RxJS library to show how we can handle user messages.</p>
                    <a href="#" class="btn btn-primary">Ver</a>
                  </div>
                </div>
                <div class="card col-md-4" style="width: 18rem;">
                  <img src="/assets/react.png" class="card-img-top" alt="..." height="200px" width="200px">
                  <div class="card-body">
                    <h5 class="card-title">Chat App</h5>
                    <p class="card-text">Simple chat application example using Angular 4 and Socket.IO on the back-end.
                      We will use RxJS library to show how we can handle user messages.</p>
                    <a href="#" class="btn btn-primary">Ver</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <button class="btn btn-light collapsed" type="button" data-toggle="collapse"
                  data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <img src="/assets/spring.png" width="30" height="30" class="d-inline-block align-top" alt="">
                  Spring Boot
                </button>
              </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body row">
                <div class="card col-md-4" style="width: 18rem;">
                  <img src="/assets/spring.png" class="card-img-top" alt="..." height="200px" width="200px">
                  <div class="card-body">
                    <h5 class="card-title">Chat App</h5>
                    <p class="card-text">Simple chat application example using Angular 4 and Socket.IO on the back-end.
                      We will use RxJS library to show how we can handle user messages.</p>
                    <a href="#" class="btn btn-primary">Ver</a>
                  </div>
                </div>
                <div class="card col-md-4" style="width: 18rem;">
                  <img src="/assets/spring.png" class="card-img-top" alt="..." height="200px" width="200px">
                  <div class="card-body">
                    <h5 class="card-title">Chat App</h5>
                    <p class="card-text">Simple chat application example using Angular 4 and Socket.IO on the back-end.
                      We will use RxJS library to show how we can handle user messages.</p>
                    <a href="#" class="btn btn-primary">Ver</a>
                  </div>
                </div>
                <div class="card col-md-4" style="width: 18rem;">
                  <img src="/assets/spring.png" class="card-img-top" alt="..." height="200px" width="200px">
                  <div class="card-body">
                    <h5 class="card-title">Chat App</h5>
                    <p class="card-text">Simple chat application example using Angular 4 and Socket.IO on the back-end.
                      We will use RxJS library to show how we can handle user messages.</p>
                    <a href="#" class="btn btn-primary">Ver</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingFour">
              <h2 class="mb-0">
                <button class="btn btn-light collapsed" type="button" data-toggle="collapse" data-target="#collapseFour"
                  aria-expanded="false" aria-controls="collapseFour">
                  <img src="/assets/node.png" width="30" height="30" class="d-inline-block align-top" alt="">
                  Node Js
                </button>
              </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
              <div class="card-body row">
                <div class="card col-md-4" style="width: 18rem;">
                  <img src="/assets/node.png" class="card-img-top" alt="..." height="200px" width="200px">
                  <div class="card-body">
                    <h5 class="card-title">Chat App</h5>
                    <p class="card-text">Simple chat application example using Angular 4 and Socket.IO on the back-end.
                      We will use RxJS library to show how we can handle user messages.</p>
                    <a href="#" class="btn btn-primary">Ver</a>
                  </div>
                </div>
                <div class="card col-md-4" style="width: 18rem;">
                  <img src="/assets/node.png" class="card-img-top" alt="..." height="200px" width="200px">
                  <div class="card-body">
                    <h5 class="card-title">Chat App</h5>
                    <p class="card-text">Simple chat application example using Angular 4 and Socket.IO on the back-end.
                      We will use RxJS library to show how we can handle user messages.</p>
                    <a href="#" class="btn btn-primary">Ver</a>
                  </div>
                </div>
                <div class="card col-md-4" style="width: 18rem;">
                  <img src="/assets/node.png" class="card-img-top" alt="..." height="200px" width="200px">
                  <div class="card-body">
                    <h5 class="card-title">Chat App</h5>
                    <p class="card-text">Simple chat application example using Angular 4 and Socket.IO on the back-end.
                      We will use RxJS library to show how we can handle user messages.</p>
                    <a href="#" class="btn btn-primary">Ver</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- #contact -->
  <div id="contact">
    <div class="container mt-5">
      <span class="bg-dark text-white">Contact Me</span>
      <hr>
      <div class="row">
        <div class="col">
          <div class="card bg-white">
            <div class="card-header">
              <h4>Contactame</h4>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Nombre">
              </div>

              <div class="form-group">
                <input type="text" class="form-control" placeholder="Email">
              </div>

              <div class="form-group">
                <textarea class="form-control" placeholder="mensaje..." name="" id="" cols="30" rows="10"></textarea>
              </div>

              <div class="form-group">
                <button type="button" class="btn btn-success">Success</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- #footer -->
  <div class="container-fluid bg-dark">
    <div class="row" style="align-items: center;">
        <p class="text-white text-center mt-3 mb-3 col-md-3">Website build by Angular</p>
        <i class="fab fa-angular fa-3x text-white col-md-3"></i>
    </div>
  </div>
</div>