<h2>Gestion de Skills</h2>

<!-- Boton Agregar Proyecto -->
<button type="button" class="btn btn-primary p-2" data-toggle="modal" data-target=".bd-example-modal-lg">
    <mdb-icon class="mr-1" fas icon="plus"></mdb-icon> Agregar Skill
</button>
<!-- Boton Agregar Proyecto -->

<!-- Tabla de Skills -->
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Categoria</th>
            <th scope="col">Nombre</th>
            <th scope="col">Imagen</th>
            <th scope="col">Accion</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let skill of skills; let s = index">
            <td>{{skill.category}}</td>
            <td>{{skill.name}}</td>
            <td>{{skill.image}}</td>
            <td>
                <a (click)="editProject(proyect)" class="btn btn-primary m-0 px-2 py-0">
                    <i class="fas fa-angle-double-right"></i> Editar
                </a>
                <a (click)="deleteProject(proyect)" class="btn btn-primary m-0 px-2 py-0">
                    <i class="far fa-trash-alt"></i> Eliminar
                </a>
            </td>
        </tr>
    </tbody>
</table>
<!-- Tabla de Skills -->

<!-- Modal Agregar Skill -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Skill</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" #btnCloseAddS>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <flash-messages></flash-messages>
            <app-new-skil></app-new-skil>
        </div>
    </div>
</div>
<!-- Modal Agregar Skill -->