<div class="container">
    <div class="d-flex justify-content-start">
        <h4 class="text-center text-uppercase my-2 wow fadeIn" data-wow-delay="0.2s"
            style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">
            <strong>mis proyectos</strong></h4>
    </div>
    <div class="row my-5">
        <div class="col-md-4">
            <!--Card-->
            <mdb-card cascade="true" narrower="true">

                <!--Card image-->
                <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                    <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg">
                    </mdb-card-img>
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!--/Card image-->

                <mdb-card-body cascade="true" class="text-center">
                    <!--Card content-->

                    <!--Title-->
                    <h4 class="card-title">Titulo de Proyecto</h4>
                    <!--Text-->

                    <mdb-card-text>
                        Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium,
                        totam
                        rem
                        aperiam.
                    </mdb-card-text>

                    <a mdbBtn color="unique" class="waves-light" mdbWavesEffect>
                        <mdb-icon far icon="eye" class="mr-1"></mdb-icon>Ver
                    </a>
                    <a mdbBtn color="unique" class="waves-light" mdbWavesEffect>
                        <mdb-icon fas icon="code" class="mr-1"></mdb-icon>Codigo
                    </a>

                </mdb-card-body>
                <!--/.Card content-->

            </mdb-card>
            <!--/.Card-->
        </div>

        <div class="col-md-4">
            <!--Card-->
            <mdb-card cascade="true" narrower="true">

                <!--Card image-->
                <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                    <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg">
                    </mdb-card-img>
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!--/Card image-->

                <mdb-card-body cascade="true" class="text-center">
                    <!--Card content-->

                    <!--Title-->
                    <h4 class="card-title">Titulo de Proyecto</h4>
                    <!--Text-->

                    <mdb-card-text>
                        Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium,
                        totam
                        rem
                        aperiam.
                    </mdb-card-text>

                    <a mdbBtn color="unique" class="waves-light" mdbWavesEffect>
                        <mdb-icon far icon="eye" class="mr-1"></mdb-icon>Ver
                    </a>
                    <a mdbBtn color="unique" class="waves-light" mdbWavesEffect>
                        <mdb-icon fas icon="code" class="mr-1"></mdb-icon>Codigo
                    </a>

                </mdb-card-body>
                <!--/.Card content-->

            </mdb-card>
            <!--/.Card-->
        </div>

        <div class="col-md-4">
            <!--Card-->
            <mdb-card cascade="true" narrower="true">

                <!--Card image-->
                <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                    <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg">
                    </mdb-card-img>
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!--/Card image-->

                <mdb-card-body cascade="true" class="text-center">
                    <!--Card content-->

                    <!--Title-->
                    <h4 class="card-title">Titulo de Proyecto</h4>
                    <!--Text-->

                    <mdb-card-text>
                        Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium,
                        totam
                        rem
                        aperiam.
                    </mdb-card-text>

                    <a mdbBtn color="unique" class="waves-light" mdbWavesEffect>
                        <mdb-icon far icon="eye" class="mr-1"></mdb-icon>Ver
                    </a>
                    <a mdbBtn color="unique" class="waves-light" mdbWavesEffect>
                        <mdb-icon fas icon="code" class="mr-1"></mdb-icon>Codigo
                    </a>

                </mdb-card-body>
                <!--/.Card content-->

            </mdb-card>
            <!--/.Card-->
        </div>
    </div>
</div>