
<!-- #Skills -->
<div class="skills-section" style="background-color: #f3f3f5;">
    <div class="container">
        <!-- Second section -->
        <section id="skills">
            <!-- First row -->
            <div class="row py-2">
                <!--First column-->
                <div class="col-lg-5 col-md-12 my-5 wow fadeIn" data-wow-delay="0.4s"
                    style="visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;">

                    <!--Section heading-->
                    <div class="d-flex justify-content-start">
                        <h4 class="text-center text-uppercase mb-2 pb-2 mt-2 wow fadeIn" data-wow-delay="0.2s"
                            style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">
                            <strong>mi experiencia</strong></h4>
                    </div>

                    <!--Description-->
                    <blockquote class="blockquote bq-danger my-3">
                        <div class="row"> <i class="fas fa-briefcase fa-x mb-1 mr-3 ml-3" aria-hidden="true"></i>
                            <h5 class="font-weight-bold mb-3">Frontend developer</h5>
                        </div>
                        <p class="ml-1 p-0 my-1"><strong><u>Lugar</u>: </strong>Softlogia S.R.L (Desde: 06/18 - Hasta:
                            11/18)</p>
                        <p class="ml-1 p-0 my-1"><strong><u>Descripcion</u>: </strong>Trabaje en diferentes proyectos
                            (gestion de
                            Emergencias,geolocalizacion,chat interno) para una empresa mexicana llamada
                            Seguritech,usando la
                            metodologia Scrum.</p>
                        <p class="ml-1 p-0 my-1"><strong><u>Tecnologias</u>: </strong>Angular 7,Angular Material,Angular
                            Flex-Layout,Sass,GoogleMaps,SocketIO,</p>
                    </blockquote>

                    <blockquote class="blockquote bq-danger my-3">
                        <div class="row"> <i class="fas fa-briefcase fa-x mb-1 mr-3 ml-3" aria-hidden="true"></i>
                            <h5 class="font-weight-bold mb-3">Fullstack developer</h5>
                        </div>
                        <p class="ml-1 p-0 my-1"><strong><u>Lugar</u>: </strong>Pregnant Design (Desde: 01/20 - Hasta:
                            03/20)</p>
                        <p class="ml-1 p-0 my-1"><strong><u>Descripcion</u>: </strong>Desarrolle proyectos web dinamicos
                            para un
                            estudio de diseño,basicamente sitios web personales.Trabaje en el frontend como en
                            backend,tambien en la
                            etapa de produccion y despliegue</p>
                        <p class="ml-1 p-0 my-1"><strong><u>Tecnologias</u>: </strong>Angular
                            9,MDBootstrap,Canvas,GradientJS,Firebase,Illustrator</p>
                    </blockquote>

                </div>
                <!--/First column-->

                <!--Second column-->
                <div class="col-lg-6 offset-lg-1 col-md-12 my-5 ml-3 wow fadeIn" data-wow-delay="0.4s"
                    style="visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;">

                    <!--Second heading-->
                    <div class="d-flex justify-content-start">
                        <h4 class="text-center text-uppercase mb-2 pb-3 mt-2 wow fadeIn" data-wow-delay="0.2s"
                            style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">
                            <strong>Skills</strong></h4>
                    </div>

                    <!--Description-->
                    <p class="black-text text-uppercase font-weight-bold" align="justify">Html</p>
                    <div class="md-progress">
                        <button mdbBtn type="button" color="elegant" mdbWavesEffect>Html5</button>
                    </div>

                    <p class="black-text text-uppercase font-weight-bold pt-3" align="justify">CSS</p>
                    <div class="md-progress">
                        <button mdbBtn type="button" color="elegant" mdbWavesEffect>Css3</button>
                        <button mdbBtn type="button" color="elegant" mdbWavesEffect>Sass</button>
                        <button mdbBtn type="button" color="elegant" mdbWavesEffect>Bootstrap</button>
                        <button mdbBtn type="button" color="elegant" mdbWavesEffect>MDBootstrap</button>
                        <button mdbBtn type="button" color="elegant" mdbWavesEffect>Angular Material</button>
                        <button mdbBtn type="button" color="elegant" mdbWavesEffect>PrimeNG</button>
                        <button mdbBtn type="button" color="elegant" mdbWavesEffect>Bulma</button>
                    </div>

                    <p class="black-text text-uppercase font-weight-bold pt-3" align="justify">Javascript</p>
                    <div class="md-progress">
                        <button mdbBtn type="button" color="elegant" mdbWavesEffect>Javascript ES6</button>
                        <button mdbBtn type="button" color="elegant" mdbWavesEffect>Angular</button>
                        <button mdbBtn type="button" color="elegant" mdbWavesEffect>React</button>
                        <button mdbBtn type="button" color="elegant" mdbWavesEffect>NodeJS</button>
                        <button mdbBtn type="button" color="elegant" mdbWavesEffect>Jquery</button>

                    </div>

                    <p class="black-text text-uppercase font-weight-bold pt-3" align="justify">Java</p>
                    <div class="md-progress">
                        <button mdbBtn type="button" color="elegant" mdbWavesEffect>Java</button>
                        <button mdbBtn type="button" color="elegant" mdbWavesEffect>JHipster</button>
                        <button mdbBtn type="button" color="elegant" mdbWavesEffect>Hibernate</button>
                        <button mdbBtn type="button" color="elegant" mdbWavesEffect>JSF</button>
                    </div>

                    <p class="black-text text-uppercase font-weight-bold pt-3" align="justify">Backend</p>
                    <div class="md-progress">
                        <button mdbBtn type="button" color="elegant" mdbWavesEffect>Spring</button>
                        <button mdbBtn type="button" color="elegant" mdbWavesEffect>Express</button>
                        <button mdbBtn type="button" color="elegant" mdbWavesEffect>Firebase</button>
                        <button mdbBtn type="button" color="elegant" mdbWavesEffect>PostrgreSQL</button>
                        <button mdbBtn type="button" color="elegant" mdbWavesEffect>MongoDB</button>
                    </div>

                </div>
                <!--/Second column-->
            </div>
            <!--/First row-->
        </section>
        <!-- /.Second section -->
    </div>
</div>