<!-- #skills -->
<div id="skills" class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- #Angular -->
                <div class="jumbotron p-6 my-4" style="background-image: url('/assets/der.jpg');background-size: 100%;
          background-repeat: no-repeat;">
                    <h1 class="display-4 text-white">Angular</h1>
                    <br />
                    <h6 class="text-white">Librerias</h6>
                    <span class="badge badge-pill badge-dark mx-1 my-2">Bootstrap</span>
                    <span class="badge badge-pill badge-dark mx-1 my-2">AngularMaterial</span>
                    <span class="badge badge-pill badge-dark mx-1 my-2">FlexLayout</span>
                    <span class="badge badge-pill badge-dark mx-1 my-2">Ngx-Translate</span>
                    <span class="badge badge-pill badge-dark mx-1 my-2">Ng-Bootstrap</span>
                    <h6 class="text-white">API`s</h6>
                    <span class="badge badge-pill badge-dark mx-1 my-2">GoogleMaps</span>
                    <span class="badge badge-pill badge-dark mx-1 my-2">Socket.IO</span>
                    <span class="badge badge-pill badge-dark mx-1 my-2">MapBox</span>
                    <h6 class="text-white">Nivel de Conocimiento</h6>

                    <div class="progress">
                        <div class="progress-bar bg-dark" role="progressbar" style="width: 75%;" aria-valuenow="75"
                            aria-valuemin="0" aria-valuemax="100">75%</div>
                    </div>

                </div>
                <!-- #React -->
                <div class="jumbotron p-6" style="background-image: url('/assets/mon.jpg');background-size: 100%;
          background-repeat: no-repeat;">
                    <h1 class="display-4 text-white">React</h1>
                    <br />
                    <h6 class="text-white">Librerias</h6>
                    <span class="badge badge-pill badge-info mx-1 my-2">Libreria1</span>
                    <span class="badge badge-pill badge-info mx-1 my-2">Libreria2</span>
                    <span class="badge badge-pill badge-info mx-1 my-2">Libreria3</span>
                    <span class="badge badge-pill badge-info mx-1 my-2">Libreria4</span>
                    <span class="badge badge-pill badge-info mx-1 my-2">Libreria5</span>
                    <h6 class="text-white">API`s</h6>
                    <span class="badge badge-pill badge-info mx-1 my-2">ApiUno</span>
                    <span class="badge badge-pill badge-info mx-1 my-2">ApiDos</span>
                    <span class="badge badge-pill badge-info mx-1 my-2">ApiTres</span>
                    <h6 class="text-white">Nivel de Conocimiento</h6>

                    <div class="progress">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 50%;" aria-valuenow="50"
                            aria-valuemin="0" aria-valuemax="100">50%</div>
                    </div>

                </div>
                <!-- #Spring -->
                <div class="jumbotron p-6 border" style="background-image: url('/assets/spdf.jpg');background-size: 100%;
          background-repeat: no-repeat;">
                    <h1 class="display-4">Spring</h1>
                    <br />
                    <h6>Modulos</h6>
                    <span class="badge badge-pill badge-success mx-1 my-2">Modulo1</span>
                    <span class="badge badge-pill badge-success mx-1 my-2">Modulo2</span>
                    <span class="badge badge-pill badge-success mx-1 my-2">Modulo3</span>
                    <span class="badge badge-pill badge-success mx-1 my-2">Modulo4</span>
                    <span class="badge badge-pill badge-success mx-1 my-2">Modulo5</span>
                    <h6>Framework</h6>
                    <span class="badge badge-pill badge-success mx-1 my-2">Hibernate</span>
                    <span class="badge badge-pill badge-success mx-1 my-2">JPA</span>
                    <span class="badge badge-pill badge-success mx-1 my-2">Framework</span>
                    <h6>Nivel de Conocimiento</h6>

                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 60%;" aria-valuenow="60"
                            aria-valuemin="0" aria-valuemax="100">60%</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>