<!-- Footer -->
<footer class="page-footer font-small grey darken-4">

    <!-- Footer Elements -->
    <div class="container">

        <!-- Grid row-->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-12 py-5">
                <div class="mb-5 flex-center wow flipInX">
                    <!-- Github -->
                    <a class="fb-ic" href="https://github.com/raptor19" target="_blank">
                        <i class="fab fa-github fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!-- Facebook -->
                    <a class="fb-ic" href="https://www.facebook.com/nico.almiron.37266" target="_blank">
                        <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Linkedin -->
                    <a class="li-ic" href="https://www.linkedin.com/in/cristian-almiron-57a18a17a/" target="_blank">
                        <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic" href="https://www.instagram.com/cristian88gx/" target="_blank">
                        <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Whatsapp-->
                    <a class="wha-ic" href="https://api.whatsapp.com/send?phone=543885824851" target="_blank">
                        <i class="fab fa-whatsapp fa-lg white-text fa-2x"> </i>
                    </a>
                </div>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 wow flipInX">
        <h5 class="">Made with <i class="fas fa-heart red-text mx-1"></i> by Cristian</h5>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->