<!-- Main navigation -->
<header>

    <!--Navbar-->
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-light fixed-top scrolling-navbar">

        <mdb-navbar-brand>
            <a class="navbar-brand">
                <img src="assets/cristian.jpg" class="img-fluid rounded-circle" alt="Cristian" height="50" width="50"
                    data-toggle="modal" data-target="#basicExample" (click)="frame.show()" mdbWavesEffect>
            </a>
        </mdb-navbar-brand>

        <links>
            <!-- Links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link waves-light" mdbWavesEffect href="#home">Home<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" mdbWavesEffect href="#about">Sobre mi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" mdbWavesEffect href="#skills">Skills</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link waves-light" mdbWavesEffect href="#projects">Proyectos</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link waves-light" mdbWavesEffect href="#contact">Contacto</a>
                </li>

            </ul>

        </links>

        <!-- Links -->

    </mdb-navbar>
    <!-- Navbar -->

    <!-- Modal Login-->

    <div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
            <!--Content-->
            <div class="modal-content">

                <!--Header-->
                <div class="modal-header">
                    <img src="assets/cristian.jpg" alt="cristian" class="rounded-circle img-responsive">
                </div>
                <!--Body-->
                <div class="modal-body mb-1">

                    <h5 class="mt-1 mb-2 text-center">Almiron Cristian</h5>
                    <flash-messages></flash-messages>
                    <!-- Form -->
                    <form class="text-center" style="color: #757575;" (submit)="login()" #loginForm="ngForm">

                        <!-- Usuario -->
                        <div class="md-form">
                            <label for="materialLoginFormUser" required>Email</label>
                            <input type="email" id="materialLoginFormEmail" class="form-control" mdbInput mdbValidate
                                name="email" [(ngModel)]="email">
                        </div>

                        <!-- Password -->
                        <div class="md-form">
                            <label for="materialLoginFormPassword" required>Password</label>
                            <input type="password" id="materialLoginFormPassword" class="form-control" mdbInput
                                mdbValidate name="password" [(ngModel)]="password">
                        </div>

                        <!-- Sign in button -->
                        <button mdbBtn color="info" outline="true" rounded="true" block="true"
                            class="my-4 waves-effect z-depth-0" mdbWavesEffect type="submit">Ingresar</button>

                    </form>
                    <!-- Form -->
                </div>

            </div>
            <!--/.Content-->
        </div>
    </div>
    <!-- Modal Login-->


    <!-- Full Page Intro -->
    <div id="home" class="view"
        style="background-image: url('https://mdbootstrap.com/img/Photos/Others/gradient2.png'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <!-- Mask & flexbox options-->
        <div class="mask rgba-purple-slight d-flex justify-content-center align-items-center">
            <!-- Content -->
            <div class="container">
                <!--Grid row-->
                <div class="row wow fadeIn">
                    <!--Grid column-->
                    <div class="col-md-12 text-center">
                        <h1 class="display-4 font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInUp">Soy Cristian
                        </h1>
                        <h5 class="pt-md-5 pt-sm-2 pt-5 pb-md-5 pb-sm-3 pb-5 wow fadeInUp" data-wow-delay="0.2s">
                            Desarrollador web</h5>

                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </div>
            <!-- Content -->
        </div>
        <!-- Mask & flexbox options-->
    </div>
    <!-- Full Page Intro -->

</header>
<!-- Main navigation -->