<!-- #contact -->
<div id="contact" class="mt-5 py-3" style="background-color: #f3f3f5;">
    <div class="container py-3">
        <div class="row">
            <div class="col">
                <!-- Section: Contact v.2 -->
                <section class="my-5">
                    <!-- Section heading -->
                    <!--Grid column-->
                    <div class="col-lg-12 col-md-12 my-5  d-flex justify-content-center">
                        <h2 class="font-weight-bold my-3">CONTACTAME</h2>
                    </div>
                    <!--Grid column-->
                    <!-- Section description 
                    <p class="text-center w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit.
                        Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum
                        quisquam
                        eum porro a pariatur veniam.</p>-->

                    <!-- Grid row -->
                    <div class="row">
                        <!-- Grid column -->
                        <div class="col-md-9 mb-md-0 mb-5">
                            <form>
                                <!-- Grid row -->
                                <div class="row">
                                    <!-- Grid column -->
                                    <div class="col-md-6">
                                        <div class="md-form mb-0">
                                            <input type="text" id="contact-name" class="form-control" mdbInput>
                                            <label for="contact-name" class="">Nombre</label>
                                        </div>
                                    </div>
                                    <!-- Grid column -->
                                    <div class="col-md-6">
                                        <div class="md-form mb-0">
                                            <input type="text" id="contact-email" class="form-control" mdbInput>
                                            <label for="contact-email" class="">Email</label>
                                        </div>
                                    </div>
                                    <!-- Grid column -->
                                </div>
                                <!-- Grid row -->
                                <div class="row">
                                    <!-- Grid column -->
                                    <div class="col-md-12">
                                        <div class="md-form mb-0">
                                            <input type="text" id="contact-Subject" class="form-control" mdbInput>
                                            <label for="contact-Subject" class="">Asunto</label>
                                        </div>
                                    </div>
                                    <!-- Grid column -->
                                </div>
                                <!-- Grid row -->
                                <div class="row">
                                    <!-- Grid column -->
                                    <div class="col-md-12">
                                        <div class="md-form">
                                            <textarea type="text" id="contact-message" class="form-control md-textarea"
                                                rows="3" mdbInput></textarea>
                                            <label for="contact-message">Mensaje</label>
                                        </div>
                                    </div>
                                    <!-- Grid column -->
                                </div>
                                <!-- Grid row -->
                            </form>
                            <div class="text-center text-md-left">
                                <a mdbBtn color="dark" mdbWavesEffect>Enviar</a>
                            </div>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-3 text-center">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="https://www.linkedin.com/in/cristian-almiron-57a18a17a/">
                                        <mdb-icon fab icon="linkedin-in" size="2x" class="mt-4 blue-text"></mdb-icon>
                                        <p class="grey-text">LinkedIn</p>
                                    </a>
                                </li>
                                <li>
                                    <a
                                        href="https://api.whatsapp.com/send?phone=543885824851">
                                        <mdb-icon fab icon="whatsapp" size="2x" class="mt-4 green-text"></mdb-icon>
                                        <p class="grey-text">WhatsApp</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                </section>
                <!-- Section: Contact v.2 -->
            </div>
        </div>
    </div>
</div>