<!-- Contact -->
<div id="contact" class=" animated mt-5 py-3" style="background-color: #e0e0e0;">
    <div class="container py-3">
        <div class="row">
            <div class="col">
                <!-- Principal -->
                <section class="my-5">
                    <!-- Column Tit le-->
                    <
                    <div class="col-lg-12 col-md-12 my-5  d-flex justify-content-center">
                        <h2 class="font-weight-bold my-3">CONTACTAME</h2>
                    </div>
                    
                    <!-- row -->
                    <div class="row">
                        <div class="col-md-9 mb-md-0 mb-5 wow rotateInDownLeft">
                            <!-- Formulario -->
                            <form>
                                <div class="row">
                                    <!-- Nombre -->
                                    <div class="col-md-6">
                                        <div class="md-form mb-0">
                                            <input type="text" id="contact-name" class="form-control" mdbInput>
                                            <label for="contact-name" class="">Nombre</label>
                                        </div>
                                    </div>
                                    <!-- Email -->
                                    <div class="col-md-6">
                                        <div class="md-form mb-0">
                                            <input type="text" id="contact-email" class="form-control" mdbInput>
                                            <label for="contact-email" class="">Email</label>
                                        </div>
                                    </div>
                                </div>
                                <!-- row -->
                                <div class="row">
                                    <!-- Asunto -->
                                    <div class="col-md-12">
                                        <div class="md-form mb-0">
                                            <input type="text" id="contact-Subject" class="form-control" mdbInput>
                                            <label for="contact-Subject" class="">Asunto</label>
                                        </div>
                                    </div>
                                </div>
                                <!-- row -->
                                <div class="row">
                                    <!-- Mensaje -->
                                    <div class="col-md-12">
                                        <div class="md-form">
                                            <textarea type="text" id="contact-message" class="form-control md-textarea"
                                                rows="3" mdbInput></textarea>
                                            <label for="contact-message">Mensaje</label>
                                        </div>
                                    </div>
                                </div>
                                <!-- row -->
                            </form>
                            <!-- Botones -->
                            <div class="text-center text-md-left">
                                <a mdbBtn color="dark" mdbWavesEffect (click)="openAlert()">Enviar</a>
                            </div>
                        </div>
                        <!-- Enlaces -->
                        <div class="col-md-3 text-center wow rotateInDownLeft">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="https://www.linkedin.com/in/cristian-almiron-57a18a17a/" target="_blank">
                                        <mdb-icon fab icon="linkedin-in" size="2x" class="mt-4 blue-text"></mdb-icon>
                                        <p class="grey-text">LinkedIn</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://api.whatsapp.com/send?phone=543885824851" target="_blank">
                                        <mdb-icon fab icon="whatsapp" size="2x" class="mt-4 green-text"></mdb-icon>
                                        <p class="grey-text">WhatsApp</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<!-- Contact -->