<!-- #Skills -->
<div id="skills" class="skills-section mt-5" style="background-color: #f3f3f5;">
    <div class="container">
        <!-- Second section -->
        <section>
            <!-- First row -->
            <div class="row">
                <div class="col">
                    <div class="container my-5 py-5 z-depth-1" style="box-shadow: none !important">
                        <!--Section: Content-->
                        <section class="px-md-5 mx-md-5 text-center">
                            <!--Grid row-->
                            <div class="row d-flex justify-content-center">

                                <!--Grid column-->
                                <div class="col-lg-12 col-md-12">
                                    <h2 class="font-weight-bold my-3">SKILLS</h2>
                                    <p>Mi entorno de desarrollo.</p>
                                </div>
                                <!--Grid column-->

                            </div>
                            <!--Grid row-->

                            <!--Grid row-->
                            <div class="row">

                                <!--First column-->
                                <div class="col-lg-4 col-6 col-sm-6 my-5">
                                    <div class="view overlay zoom d-flex justify-content-center">
                                        <img src="assets/angu.png" height="150" alt="smaple image">
                                    </div>
                                    <p class="font-weight-bold my-3">Angular</p>
                                </div>

                                <!--/First column-->

                                <!--Second column-->
                                <div class="col-lg-4 col-6 col-sm-6 my-5">
                                    <div class="view overlay zoom d-flex justify-content-center">
                                        <img src="assets/react.png" alt="react" height="150">
                                    </div>
                                    <p class="font-weight-bold my-3">React</p>
                                </div>
                                <!--/Second column-->

                                <!--Third column-->
                                <div class="col-lg-4 col-12 col-sm-12 my-5">
                                    <div class="view overlay zoom d-flex justify-content-center">
                                        <img src="assets/node.png" alt="node" height="150">
                                    </div>
                                    <p class="font-weight-bold my-3">NodeJS</p>
                                </div>
                                <!--/Third column-->

                            </div>
                            <!--/Grid row-->

                            <!--Grid row-->
                            <div class="row">

                                <!--First column-->
                                <div class="col-lg-2 col-md-4 col-6 my-5">
                                    <div class="view overlay zoom d-flex justify-content-center">
                                        <img src="assets/adobe.png" alt="adobe" height="50">
                                    </div>
                                    <p class="font-weight-bold my-3">Adobe XD</p>
                                </div>
                                <!--/First column-->

                                <!--Second column-->
                                <div class="col-lg-2 col-md-4 col-6 my-5">
                                    <div class="view overlay zoom d-flex justify-content-center">
                                        <img src="assets/bootstrap.png" alt="bootstrap" height="50">
                                    </div>
                                    <p class="font-weight-bold my-3">Bootstrap</p>
                                </div>
                                <!--/Second column-->

                                <!--Third column-->
                                <div class="col-lg-2 col-md-4 col-6 my-5">
                                    <div class="view overlay zoom d-flex justify-content-center">
                                        <img src="assets/material.png" alt="angularMaterial" height="50">
                                    </div>
                                    <p class="font-weight-bold my-3">Angular Material</p>
                                </div>
                                <!--/Third column-->

                                <!--Fourth column-->
                                <div class="col-lg-2 col-md-4 col-6 my-5">
                                    <div class="view overlay zoom d-flex justify-content-center">
                                        <img src="assets/mdb.jpeg" alt="mdb" height="50">
                                    </div>
                                    <p class="font-weight-bold my-3">MDB</p>
                                </div>
                                <!--/Fourth column-->

                                <!--Five column-->
                                <div class="col-lg-2 col-md-4 col-6 my-5">
                                    <div class="view overlay zoom d-flex justify-content-center">
                                        <img src="assets/rxjs.png" alt="rxjs" height="50">
                                    </div>
                                    <p class="font-weight-bold my-3">Rxjs</p>
                                </div>
                                <!--/Five column-->

                                <!--Six column-->
                                <div class="col-lg-2 col-md-4 col-6 my-5">
                                    <div class="view overlay zoom d-flex justify-content-center">
                                        <img src="assets/redux.png" alt="redux" height="50">
                                    </div>
                                    <p class="font-weight-bold my-3">Redux</p>
                                </div>
                                <!--/Six column-->

                            </div>
                            <!--/Grid row-->

                            <!--Grid row-->
                            <div class="row">

                                <!--First column-->
                                <div class="col-lg-3 col-md-6 col-6">
                                    <div class="view overlay zoom d-flex justify-content-center">
                                        <img src="assets/express.png" alt="express" height="50">
                                    </div>
                                    <p class="font-weight-bold my-3">Express</p>

                                </div>
                                <!--/First column-->

                                <!--Second column-->
                                <div class="col-lg-3 col-md-6 col-6">
                                    <div class="view overlay zoom d-flex justify-content-center">
                                        <img src="assets/spring.png" alt="spring" height="50">
                                    </div>
                                    <p class="font-weight-bold my-3">Spring</p>
                                </div>
                                <!--/Second column-->

                                <!--Third column-->
                                <div class="col-lg-3 col-md-6 col-6">
                                    <div class="view overlay zoom d-flex justify-content-center">
                                        <img src="assets/mongo.png" alt="mongoDB" height="50">
                                    </div>
                                    <p class="font-weight-bold my-3">Mongo DB</p>
                                </div>
                                <!--/Third column-->

                                <!--Fourth column-->
                                <div class="col-lg-3 col-md-6 col-6">
                                    <div class="view overlay zoom d-flex justify-content-center">
                                        <img src="assets/firebase.png" alt="firebase" height="50">
                                    </div>
                                    <p class="font-weight-bold my-3">Firebase</p>
                                </div>
                                <!--/Fourth column-->

                            </div>
                            <!--/Grid row-->

                        </section>
                        <!--Section: Content-->

                    </div>
                </div>
            </div>
            <!--/First row-->
        </section>
        <!-- Second section -->
    </div>

</div>