<h2>Gestion de Proyectos</h2>

<!-- Boton Agregar Proyecto -->
<button type="button" mdbBtn color="primary" rounded="true" data-toggle="modal" data-target="#basicExample"
    (click)="frame.show()" mdbWavesEffect>
    <mdb-icon class="mr-1" fas icon="plus"></mdb-icon>Agregar Proyecto
</button>
<!-- Boton Agregar Proyecto -->

<!-- Tabla de Proyectos -->
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Titulo</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Tecnologias</th>
            <th scope="col">UrlWeb</th>
            <th scope="col">UrlCodigo</th>
            <th scope="col">Imagen</th>
            <th scope="col">Accion</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let proyect of proyects; let p = index">
            <td>{{proyect.title}}</td>
            <td>{{proyect.description}}</td>
            <td>{{proyect.technologies}}</td>
            <td>{{proyect.urlWeb}}</td>
            <td>{{proyect.urlGit}}</td>
            <td>{{proyect.fileRef}}</td>
            <td>
                <a (click)="editProject(proyect)" class="btn btn-primary m-0 px-2 py-0">
                    <i class="fas fa-angle-double-right"></i> Editar
                </a>
                <a (click)="deleteProject(proyect)" class="btn btn-primary m-0 px-2 py-0">
                    <i class="far fa-trash-alt"></i> Eliminar
                </a>
            </td>
        </tr>
    </tbody>
</table>
<!-- Tabla de Proyectos -->

<!-- Modal Agregar Proyecto -->
<div mdbModal #frame="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true" (open)="onOpen($event)">
    <div class="modal-dialog modal-notify modal-success" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading lead">Agregar proyecto</p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()"
                    #btnC>
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>

            <!--Body-->
            <div class="modal-body">
                <app-new-proyect></app-new-proyect>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!-- Modal Agregar Proyecto -->

